/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/

@font-face {
    font-family: "Neuzeit Grotesk";
    src: local("Neuzeit Grotesk Regular"), local("Neuzeit-Grotesk-Regular"),
        url("../images/fonts/NeuzeitGro/NeuzeitGro-Reg.woff2") format('woff2'),
        url('../images/fonts/NeuzeitGro/NeuzeitGro-Reg.woff') format('woff'),
        url('../images/fonts/NeuzeitGro/NeuzeitGro-Reg.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Simplon Mono";
    src: local("Simplon Mono Medium Regular"), url("../images/fonts/Simplon-mono/@font-face/35480b5356193cadbe34f8be49900124.woff2") format("woff2"),
    url("../images/fonts/Simplon-mono/@font-face/35480b5356193cadbe34f8be49900124.woff") format("woff"),
    url("../images/fonts/Simplon-mono/@font-face/35480b5356193cadbe34f8be49900124.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: "Vanitas Regular";
    src: local("Vanitas Regular"),
        url("../images/fonts/Vanitas/Vanitas Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}


body {
    background-color: bisque;
    text-align: left;
    font-family: "Neuzeit Grotesk", sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow: scroll;
    /* -webkit-overflow-scrolling: touch; */
    margin: 0;
    /* padding: var(--whitespace); */
    height: 500vw;
    
}

/* HEADER */

header{
    z-index: 40;
    position: absolute;
    top: 1vh;
    left: 15vh;
}

header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content:center;
    margin: 1vh 0vh 0vh 0vh;
}

header nav li{
    /* display: block; */
    list-style: none;
}

header section{
    align-items: center;
    justify-content: center;
    display: flex;
    position: sticky;
    top: 0.5vh;
    
}

header section a img{
    height: 44px;
    width: auto;
    margin: 5% 1% 1%;
}

header nav ul a{
    font-family: "Vanitas Regular", sans-serif;
    color: #280a0b;
}

/* MAIN*/

h1{
    font-family: "Vanitas Regular", sans-serif;
    color: #280a0b;
}

h2{
    font-family: "Simplon Mono", sans-serif;
    color: #bbb0a1;
    font-size: 17px;
    text-transform: uppercase;
}

main section{
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    position: relative;
    
}

main section article:first-child{
    width: 100%;
    padding: 5%;
    position: relative;  
    top: -1vw;    
}

main section article img{
    
    position: absolute;
    left: 0;
    width: 113%;
    top: -11vh;
    height: auto;
    overflow-x: hidden;
}

main section article:nth-child(2){
    background-color: #fff8ed;
    padding: 0 3%;
    position: relative;
    top: 167vw;
}

main section article:first-child h1{
    color: #fff8ed;
    box-sizing: border-box;
    bottom: 0;
    width: 100%;
    font-size: calc(21.02326px + 8.43023vw);
    position: absolute;
    top: 132vw;
}

main section article:nth-child(2) p{
    color: #a82326;
    font-family: "Vanitas Regular", sans-serif;
    font-size: calc(27.03876px + 1.55039vw);
    line-height: 1.2;
    
}

main section article:nth-child(2) h2{
    position: absolute;
    top: 0vh;
}

/* FOOTER */

footer{
    background-color: brown;
    position: absolute;
    top: 220vh;
}

footer ul{
    margin: 10%;
    padding: 10%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
    align-content: center;
    
}

footer nav li{
    padding: 40vh;
}

footer nav li:nth-child(1), 
footer nav li:nth-child(2),
footer nav li:nth-child(7){
    width: 100%;
}