/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --whitespace: 1vw;
}

/* Achtergrond position fixed */

/* Positioneer het kleinste ding - tekst en niet t plaatje plaatje alleen relative */

@font-face {
    font-family: "Neuzeit Grotesk";
    src: local("Neuzeit Grotesk Regular"), local("Neuzeit-Grotesk-Regular"),
        url("../images/fonts/NeuzeitGro/NeuzeitGro-Reg.woff2") format('woff2'),
        url('../images/fonts/NeuzeitGro/NeuzeitGro-Reg.woff') format('woff'),
        url('../images/fonts/NeuzeitGro/NeuzeitGro-Reg.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Simplon Mono";
    src: local("Simplon Mono Medium Regular"), url("../images/fonts/Simplon-mono/@font-face/35480b5356193cadbe34f8be49900124.woff2") format("woff2"),
        url("../images/fonts/Simplon-mono/@font-face/35480b5356193cadbe34f8be49900124.woff") format("woff"),
        url("../images/fonts/Simplon-mono/@font-face/35480b5356193cadbe34f8be49900124.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Vanitas Regular";
    src: local("Vanitas Regular"),
        url("../images/fonts/Vanitas/Vanitas Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

html,
body {
    scroll-behavior: smooth;
}

/* KEYFRAMES */

/* PAGE 1 */


body {
    background-color: #fff8ed;
    text-align: left;
    font-family: "Neuzeit Grotesk", sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    height: 500vw;
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 100%;
}

/* HEADER */

header nav {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    height: 6.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header nav a {
    width: 100%;
    text-decoration: none;
}

nav figure {
    height: 3rem;
}

.page1 header nav ul,
.page2 header nav ul {
    position: fixed;
    transform: translateY(-100%);
    /*hide the menu above screen*/
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background: #280a0b;
    color: white;
    padding-top: 4rem;

}

.page1 header nav figure,
.page2 header nav figure {
    transition: opacity 1s;
    display: flex;
    justify-content: space-around;
}


/*HAMBURGER MENU*/

.menuToggle {
    display: block;
    position: fixed;
    top: 35px;
    right: 35px;
    z-index: 1;
    user-select: none;
}

.menuToggle li a {
    color: white;
    transition: color 0.3s ease;

}

.menuToggle li a:hover {
    color: #a82326;
    cursor: pointer;
}

.menuToggle input {
    display: block;
    width: 60px;
    height: 50px;
    position: absolute;
    top: -7px;
    right: 0;

    cursor: pointer;

    opacity: 0;
    /* hide this */
    z-index: 101;
    /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/* Span animatie */
.menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    right: .5rem;

    background: white;
    border-radius: 3px;

    z-index: 99;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

.menuToggle span:first-child {
    transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
.menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);

}

/*
 * But let's hide the middle one.
 */
.menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
.menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * absolute position 
 * display flex voor menu items
 */
.menu {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: -100px 0 0 0px;
    padding: 50px 50px;
    padding-top: 125px;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.menu li {
    font-family: "Vanitas Regular", sans-serif;
    padding: 40px 0;
    font-size: 50px;
    text-align: center;
}

/* Krakkemikkige manier om menu in t midden te krijgen */
.menu li:first-of-type {
    padding-top: 150px;
}

/*
 * Menu komt van boven want ik plaats hem in 
 */
.menuToggle input:checked~ul {
    transform: none;
}

/* EINDE HAMBURGER MENU */

/* MAIN*/

.page1 h1 {
    font-family: "Vanitas Regular", sans-serif;
    color: #280a0b;
    transition: opacity 1s;
}

.fade {
    opacity: 0;
    transition: opacity 1s;
}

.page1 h2 {
    font-family: "Simplon Mono", sans-serif;
    color: #bbb0a1;
    font-size: 13px;
    text-transform: uppercase;
    padding: 1rem 0 0 0;
    margin-top: 20px;
    font-weight: normal;
    
}

.page1 h3 {
    font-family: "Vanitas Regular", sans-serif;
    font-size: calc(27.03876px + 1.55039vw);
    color: black;
    font-weight: normal;

}

.page1 figcaption {
    text-align: center;
    font-family: "Simplon Mono", sans-serif;
    color: #bbb0a1;
    font-size: 17px;
    text-transform: uppercase;
    padding: 0 0 2rem 0;
}

.page1 p {
    font-family: "Neuzeit Grotesk", sans-serif;
    font-weight: normal;
    font-size: 16px;
}

.page1 button {
    font-family: "Neuzeit Grotesk", sans-serif;
    border-radius: 5em;
    margin: 0 .5em 2em 0;
    background-color: #280a0b;
    border: none;
    color: #fff8ed;
    font-weight: 700;
    padding: 1em 2em;
    transition: background-color .3s cubic-bezier(.215, .61, .355, 1);
    cursor: pointer;
}

.page1 button:hover {
    background-color: #a82326;
}





/* SPECIFIEKE STYLING */


.page1 main section article:nth-child(2) p {
    margin-top: 0;
    margin-bottom: 25%;
}

.page1 main section {
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    position: relative;
    height: 100%;
    width: 100%;
}




.page1 main section article:first-of-type {
    background-image: url("../images/Menu_home_vliegtuig.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.page1 main section article img {
    /* position: relative; */
    left: -5vw;
    width: 100%;
    top: -3vh;
    height: auto;
    overflow-x: hidden;
}

.page1 main section article:nth-child(4) figure {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: right;
}

.page1 main section article:nth-child(4) img:first-of-type {
    width: 60%;
    height: auto;
    max-height: 20%;
    
}

.page1 main section article:nth-child(4) img:last-of-type {
    width: 60%;
    height: auto;
    align-self: flex-end;
    /* figure in flex box - align self flex end om rechts te krijgen */
}

.page1 main section article:first-child h1 {
    color: #fff8ed;
    box-sizing: border-box;
    bottom: 0;
    width: calc(100% - 3vw);
    /*ruimte geven aan de linker kant maar altijd binnen 100 */
    font-size: calc(21.02326px + 8.43023vw);
    position: absolute;
    bottom: 0;
    left: 3vw;
    margin: 0 0 1rem 0;
}

.page1 main section article:nth-child(2) {
    background-color: #fff8ed;
    width: 100%;

    position: relative;
    top: -0.3vw;
}

.page1 main section article:nth-child(2) h2 {
    padding: 15% 3% 0;
}

.page1 main section article:nth-child(2) p {
    color: #a82326;
    font-family: "Vanitas Regular", sans-serif;
    font-size: calc(27.03876px + 1.55039vw);
    line-height: 1.2;
    padding: 0 3%;
}

.page1 main section article:nth-child(4) blockquote {
    color: #a82326;
    font-family: "Vanitas Regular", sans-serif;
    font-size: calc(27.03876px + 1.55039vw);
    line-height: 1.2;
    text-align: center;

}

.page1 main section article:nth-child(3) {
    margin-bottom: 10%;
}

.page1 main section article:nth-child(3) h2,
.page1 main section article:nth-child(3) h3,
.page1 main section article:nth-child(3) p {
    background-color: #fff8ed;
    padding: 0 3%;
    margin: 3% 0;
}

.page1 main section article:nth-child(3) button {
    margin: 0 3%;
}

.page1 main section article:nth-child(5) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3%;
    overflow-x: hidden;
    margin-bottom: 10%;
}

.page1 main section article:nth-child(5) h3 {
    margin: 0 1rem 1rem 1rem;
    text-align: center;
}

.page1 main section article:nth-child(6) {
    margin-bottom: 10%;
}

.page1 main section article:nth-child(6) h2,
.page1 main section article:nth-child(6) h3,
.page1 main section article:nth-child(6) p {
    padding: 0 3%;

}

.page1 main section article:nth-child(6) button {
    margin: 0 3%;
}

/* .page1 main section article:nth-child(7) {
    padding: 0 3%;
    
} */

/* .page1 main section article:nth-child(7) div {
    display: flex;
    flex-direction: row;
    margin: 1rem 0 1rem 0;
}

.page1 main section article:nth-child(7) div figure {
    width: 33.33%;
    
    text-align: center;
    padding: 0 1rem 0 1rem;
} */



/* FOOTER */

.page1 footer {
    background-color: #280a0b;
    /* position: fixed; */
    min-height: 50vh;
    /* houd footer niet te groot */
    left: 0;
    bottom: 0;
    text-align: center;
}

.page1 footer ul,
.page2 footer ul {
    margin: 10%;
    padding: 10%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    list-style: none;
    /* align-content: center; */
    gap: 50%;

}

.page1 footer ul li,
.page2 footer ul li {
    padding: 3rem 0 0 0;
    color: #FAF9F6;
    font-family: "Vanitas Regular", sans-serif;
}

.page1 footer ul li a,
.page2 footer ul li a {
    text-decoration: none;
    color: #FAF9F6;
}

.page1 footer ul li a:hover,
.page2 footer ul li a:hover {
    color: #a82326;
}

/* BACK TO TOP BUTTON */
.to-top {
    background: white;
    position: fixed;
    bottom: 12px;
    right: 1.5rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .1px;
    font-size: 25px;
    color: #a82326;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.to-top:hover {
    color: white;
    background: skyblue;
    box-shadow: #FFFFFF 0px 20px 30px -10px;
}



.to-top.active {
    bottom: 12px;
    pointer-events: auto;
    opacity: 1;
}


/* PAGE 2, section op de eerste page - met javascript zodat t lijkt dat je door scrollt naar de volgende page*/


body.page2 {
    height: 100vh;

}

body.page2 article {
    padding: 10% 15% 50%;
}


.page2 article p {
    text-align: center;
    font-family: "Vanitas Regular", sans-serif;
    line-height: 1.2;
    color: #fff8ed;
    text-shadow: 0 0 0.2em rgb(66 122 161 / 20%);
}

.page2 article h1 {
    text-align: center;
    font-family: "Vanitas Regular", sans-serif;
    line-height: 1.2;
    color: #fff8ed;
    text-shadow: 0 0 0.2em rgb(66 122 161 / 20%);
    font-size: calc(21.02326px + 8.43023vw);
    transition: opacity 1s;
}




body.page2 article p {
    font-family: "Vanitas Regular", sans-serif;
    font-weight: normal;
    font-size: calc(27.03876px + 1.55039vw);
    background-color: none;
}



.page2 video {
    height: 100%;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;

}

.page2 main {
    position: relative;
}

.page2 main div {
    position: absolute;
    background: red;
    width: 100%;
    height: 20%;
    opacity: 0;
}

/* text fade met gradient */
.container {
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    transition: background 0.5s ease-out;
}

/* FOOTER PAGE2 */
.page2 footer {
    background-color: #280a0b;
    width: 100vw;
    bottom: 0;
    text-align: center;
    padding: 2rem 2rem;
}